.page-template-categorypage {
  .hero__text {
    margin-top: 8.6rem;
  }
  .hero__head {
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: min(100vh, 100%);

      @include media-breakpoint-up(sm) {
        padding-bottom: min(100vh, 103rem);
      }
      @include media-breakpoint-up(lg)  {
        padding-bottom: min(100vh, 103rem);
      }
    }
  }
  .blog-page {
    background: #fff;
    color: #000;
    &__subtitle {
      margin-top: 3.8rem;
      background: rgba(0, 0, 0, 0.53);
      border: 1px solid #fff;
      padding: 13px 20px;
      display: inline-flex;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      text-decoration: none;
    }

    @include media-breakpoint-up(sm) {
      &__subtitle {
        padding: 18px 20px;
        font-size: 28px;
      }
      .cat-item {
        padding: 18px 20px;
        font-size: 28px;
      }
    }
    @include media-breakpoint-up(lg) {
      &__subtitle {
        padding: 8px 20px;
        font-size: 40px;
      }
      .cat-item {
        padding: 8px 20px;
        font-size: 40px;
      }
    }
  }
  .hero {
    .cat-items {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin-top: 3.8rem;
    }
    .cat-item {
      background: rgba(0, 0, 0, 0.53);
      border: 1px solid #fff;
      padding: 12px 16px;
      display: inline-flex;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    @include media-breakpoint-up(sm) {
      .cat-item {
        padding: 18px 20px;
        font-size: 28px;
      }
    }
    @include media-breakpoint-up(lg) {
      .cat-item {
        padding: 8px 20px;
        font-size: 40px;
      }
    }

  }
  .post-container {
    padding-bottom: 7rem;
    &__wrap {
      margin-top: 0;
    }
    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 18px;
      letter-spacing: -0.05em;
      background: linear-gradient(90deg, #5066c7 0%, #2fc7fe 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 15px;
    }
    &__content {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 0.05em;
      margin-bottom: 25px;
    }
    &__read {
      text-align: right;
    }
    &__read-text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-align: center;
      color: #000;
      text-decoration: none;
      padding: 3px 0.7rem 3px 0;
      border-bottom: 1px solid #2ebef6;
      display: inline-block;
    }

    @include media-breakpoint-up(sm) {
      &__title {
        font-size: 45px;
        letter-spacing: -0.05em;
      }
      &__content {
        font-size: 20px;
        letter-spacing: -0.05em;
      }
      &__read-text {
        font-size: 20px;
        letter-spacing: -0.05em;
      }
    }
    @include media-breakpoint-up(lg) {
      &__title {
        font-size: 80px;
      }
      &__content {
        font-size: 40px;
      }
      &__read-text {
        font-size: 32px
      }
    }
  }
  footer {
    background: #fff;
    margin-top: -2px;
    .bootscore-info {
      small {
        color: #000;
      }
    }

  }
}

