.partners {
  .h2 {
    margin-bottom: 4rem;
    background-image: url(../img/lines.png);
    background-repeat: no-repeat;
    background-position: 32vw 50%;
    background-size: 100%;
    margin-top: 1rem;
    .first_title {
      background: linear-gradient(90deg, #5066C7 0%, #2FC7FE 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .second_title {
      background: linear-gradient(90deg, #5066C7 0%, #2FC7FE 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-left: 2rem;
    }
  }
  svg {
    height: 1.5rem;
  }
  @include media-breakpoint-up(sm) {
    .h2 {
      background-position: 30vw 50%;
      margin-bottom: 8rem;
      .second_title {
        margin-left: 6rem;
      }
    }
    svg {
      height: 2.3rem;
    }
  }
  @include media-breakpoint-up(lg) {
    .h2 {
      .second_title {
        margin-left: 10rem;
      }
    }
    svg {
      height: 5.7rem;
    }
  }
}